* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header{
    text-transform: uppercase;
    background-color: rgba(255, 255, 255,.5);
    color: rgb(0, 0, 0);
}
.logo-nav{
    display: flex;
    padding: 1rem 2rem;
}
.logo{
    width: 25%;
    max-height: 80px;
    vertical-align: middle;
}
.wsite-logo {
    max-height: 70px;
    display: block;
    overflow: hidden;
}
.wsite-logo a {
    display: block;
    margin-right: 30px;
}
.logo img:hover {
    color: #626262;
     opacity: 0.7;
}
.nav{
    width: 50%;
    display: flex;
    flex-grow: 1;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    min-width: 50%;
    margin-left: 50px;
}
.nav li {
    display: inline-block;
    margin: 5px 0px;
}
.nav li a {
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.nav li a:hover {
    color: #626262;
}
.banner {
    height: 600px;
    background-image: url("/Images/225457474.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background-color: transparent;
    background-position: 50% 17%;
}
.wsite-banner {
    position: relative;
}
.banner-tag {
    width: 100%;
    text-align: center;
}
.tag-line {
    display: inline-block;
    color: white;
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15%;
}
.section-container {
    padding: 6rem 4rem;
}
.section-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.left-side {
    flex-grow: 1;
    row-gap: 2;
}
.content-header {
    font-size: 1.65rem;
    margin-bottom: 2rem;
}
.header-asteric {
    font-size: 1.45rem;
}
.section-content {
    padding-left: 40px;
    margin-bottom: 2rem;

}
.section-content li {
    line-height: 2;
    font-size: 1.5rem;
    font-weight: lighter;
}
.asteric-text {
    font-style: italic;
    margin-bottom: 2rem;
    font-size: 0.1;
    line-height: 2;
    font-weight: bold;
}
.btn {
    display: inline-block;
    background: #000000;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: bold;
}
.btn:hover {
    color: #626262;
}
.btn1 {
    display: inline-block;
    background: #000000;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-bottom: 30px;
    font-weight: bold;
}
.btn1:hover {
    color: #626262;
}
.right-side {
    width: 30%;
}
.content-image img {
    width: auto;
    max-width: 100%;
}

.picture-section-content{
    background-image: url(/Images/1464332722.png);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: top;
    background-color: transparent;
    background-position: 50% 100%;
    min-height: 800px;
    vertical-align: top;
    padding: 4rem 3rem;
}
.picture-content-header {
    font-weight: bolder;
    text-align: center;
    font-size: large;
}
.picture-body{
    text-align: center;
    margin-top: 20px;
}
.gallery-images-wrapper {
    padding: 5rem 2rem;
}
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}
.gallery-item {
position: relative;
width: 100%;
height: 300px;
overflow: hidden;
border-radius: 0px;
cursor: pointer;
}
.gallery-image img {
display: block;
width: 100%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
    padding: 15px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0,5s ease;
}
.about-header {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.about-content {
    padding-right: 20px;
}
.about-content p {
    line-height: 2;
    font-size: 1.15rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}
.about-left {
    max-width: 100%;
    width: auto;
}
.about-quotetext {
    margin-bottom: 2rem;
    font-weight: light;
}